<ul class="flex space-x-4 fixed top-5 left-1/2 transform -translate-x-1/2 z-50">
    <li><a href="#intro" class="text-accent-light dark:text-accent-dark hover:text-text-light dark:hover:text-text-dark">Home</a></li>
    <li><a href="#personal-traits" class="text-accent-light dark:text-accent-dark hover:text-text-light dark:hover:text-text-dark">Traits</a></li>
    <li><a href="#skills" class="text-accent-light dark:text-accent-dark hover:text-text-light dark:hover:text-text-dark">Skills</a></li>
    <li><a href="#products" class="text-accent-light dark:text-accent-dark hover:text-text-light dark:hover:text-text-dark">Products</a></li>
</ul>
