---
import '../styles/global.css';
import DayNightToggle from '../components/dayNightToggle.astro';
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth transition-colors duration-300">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Your Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen bg-primary-light dark:bg-primary-dark text-text-light dark:text-text-dark">
		<header class="fixed top-0 left-0 right-0 z-50 flex justify-between items-center p-5">
			<Logo />
			<Nav />
			<DayNightToggle />
		</header>
		<main>
			<slot />
		</main>
	</body>
</html>
